.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0 20px;
    background-color: #FA4A0C;
    transform: translatex(0);
        transition: transform 250ms ease;
}


.close {
    position: absolute;
    top: 30px;
    left: 40px;
    font-size: 18px;
    cursor: pointer;
}