.form {
    margin-top: 70px;
}

.label {
    font-size: 12px;
}

.input {
    width: 100%;
    margin-bottom: 20px;
    height: 32px;
        font-size: 17px;
        border: transparent;
    border-bottom: 1px solid;
}


